@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-burmese: "Padauk", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
}

@layer components {
  .font-burmese {
    font-family: var(--font-burmese);
    line-height: 2.2 !important;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    text-rendering: optimizeLegibility;
    word-spacing: -0.05em;
    text-align: left;
    font-weight: 500;
  }
  
  .serif-title {
    font-family: 'Merriweather', serif;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
  }
  
  .prose p, .html-content-container p {
    margin-bottom: 1.25em;
    line-height: 2.2 !important;
    word-spacing: -0.05em;
  }
  
  .html-content-container {
    font-family: var(--font-burmese);
    text-align: left;
  }
}

@media (max-width: 640px) {
  .font-burmese {
     line-height: 2.4 !important;
  }
}
